# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environment
.venv

# Environment variables
.env

# macOS
.DS_Store

# IDE
.vscode/

# HuggingFace model cache
.cache/

# Ollama model cache
.ollama/
